.pl-4 {
    padding-left: 2rem;
}
.pl-2 {
    padding-left: 1rem;
}
.pl-1 {
    padding-left: 0.5rem;
}
.pr-4 {
    padding-right: 2rem;
}
.pr-2 {
    padding-right: 1rem;
}
.pr-1 {
    padding-right: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;

}
.mr-2 {
    margin-left: 1rem;
}
.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mt-12 {
    margin-top: 3rem;
}
.mx-auto {
    margin: 0 auto;
}
.flex {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.center {
    text-align: center;
    align-items: center;
}

.gap-2 {
    gap: 1rem;
}
.gap-4 {
    gap: 2rem;
}

.flex-1 {
    flex: 1;
}
.full {
    width: 100%;
}
.fCol {
    flex-direction: column;
}